Repository tgallacher/node-hivehome: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --ext js,jsx,ts,tsx --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint --config .eslintrc.js --ext js,jsx,ts,tsx --fix", "git add"],
  "*.md*": ["prettier --write", "git add"],
}

style: fix linting
  src/Auth.ts
  src/Heating.ts
  src/HiveFetch.ts
  src/Hivehome.ts
  src/Products.ts
  src/types.d.ts
  src/utils/fetch.ts
Due: eslint --config .eslintrc.js --ext js,jsx,ts,tsx --fix

chore(core): remove external type stub file
  src/types.d.ts
Due: eslint --config .eslintrc.js --ext js,jsx,ts,tsx --fix

chore(core): add commitlint + changelog gen
  .commitlintrc.js
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write

ci(core): lint on PRs
  .github/workflows/linting.yml
Due: none

chore(core): fix eslint config for root files
  .eslintignore
Due: none

chore(core): add semver release cli
  .releaserc.js
  package.json
  yarn.lock
Due: none
